
---
import Layout from "../layouts/Layout.astro"
---
<Layout>
<h1>磯子教会について</h1>
    <div>
        <h2>司祭について</h2>
        <div>ドミニコ</div>
        <h3>谷脇 慎太郎</h3>
        <div>小教区管理者</div>
        <div>1978年 長崎県生まれ</div>
        <div>2008年4月29日 司祭叙階</div>
    </div>
</Layout>


