---
import Layout from "../layouts/Layout.astro"

const newsModules = import.meta.glob('./news/*.md', {eager: true})
const sorted = Object.entries(newsModules).sort(([a], [b]) => b.localeCompare(a))
---

<Layout>
<h1>ニュース</h1>
    {sorted.map(([path, news]) => {
    const filename = path.split('/').pop()?.replace('.md', '')
    const {title} = news.frontmatter
    const Content = news.default
        return (
<section>
<h2>{title}</h2>
        <a href=`${filename}`> 続きを見る</a>
    </section>
        )
    })}
</Layout>




