---
import Layout from "../../layouts/Layout.astro";

type NewsModule = {
  frontmatter: {
    title: string;
  };
  default: any;
};

const newsModules = import.meta.glob<NewsModule>("../../contents/news/*.md", {
  eager: true,
});
const sorted = Object.entries(newsModules).sort(([a], [b]) =>
  b.localeCompare(a),
);
---

<Layout>
  <h1 class="text-4xl font-bold">ニュース</h1>
  <div class="my-10">
    {
        sorted.map(([path, news]) => {
        const filename = path.split("/").pop()?.replace(".md", "");
        const { title } = news.frontmatter;
        return (
            <section>
            <h2 class="text-2xl font-bold">{title}</h2>
            <a href={filename} class="underline"> 続きを見る</a>
            </section>
        );
        })
    }
  </div>
</Layout>
